extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Nosotros" , class="img-fluid")
            .col-md-7 
                h1 #{pagina} 
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus eget nunc scelerisque viverra mauris. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar. Dolor sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. Elementum integer enim neque volutpat ac tincidunt. Ultrices vitae auctor eu augue ut lectus arcu. Ut ornare lectus sit amet est placerat in egestas erat. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Eu tincidunt tortor aliquam nulla. Facilisi etiam dignissim diam quis enim lobortis scelerisque

                p raesent semper feugiat nibh sed pulvinar proin. Lacinia at quis risus sed vulputate odio ut. Fermentum dui faucibus in ornare. Vulputate enim nulla aliquet porttitor. Non nisi est sit amet facilisis magna etiam tempor orci. Condimentum id venenatis a condimentum. Quis ipsum suspendisse ultrices gravida dictum fusce ut. Tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum. Elementum facilisis leo vel fringilla est ullamcorper. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui. Mauris in aliquam sem fringilla ut morbi tincidunt augue. Aliquam id diam maecenas ultricies mi eget mauris pharetra. Cras fermentum odio eu feugiat pretium nibh ipsum. massa. 

                p Ac ut consequat semper viverra nam libero justo. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Vestibulum lorem sed risus ultricies tristique nulla. Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo. Morbi tincidunt augue interdum velit euismod. Quam nulla porttitor massa id neque aliquam vestibulum morbi blandit. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Tortor vitae purus faucibus ornare suspendisse sed. Faucibus nisl tincidunt eget nullam. Enim praesent elementum facilisis leo vel fringilla est. Nam at lectus urna duis. Volutpat 
    .listado-iconos 
        .container.mt-5.py-5.text-center  
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur minima officia vero officiis autem sequi incidunt eos possimus qui nemo sunt totam sapiente dicta, ullam quis ipsum voluptatibus tempore eum.
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos  
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur minima officia vero officiis autem sequi incidunt eos possimus qui nemo sunt totam sapiente dicta, ullam quis ipsum voluptatibus tempore eum.
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur minima officia vero officiis autem sequi incidunt eos possimus qui nemo sunt totam sapiente dicta, ullam quis ipsum voluptatibus tempore eum.